<html>
    <head>
        <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    </head>
    <body>
        <div id="latest-message" hx-get="/latest-message" hx-trigger="every 2s" hx-swap="afterbegin"></div>
    </body>
</html>